<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Radios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let radio of dataService.radios" (click)="playRadio(radio)">
      <ion-avatar slot="start">
        <img [src]="radio.logo">
      </ion-avatar>
      <ion-label>{{ radio.nombre }}</ion-label>
      <ion-button shape="round" color="medium">
        <ion-icon slot="icon-only" name="musical-note-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="dataService.radioActual">
  <ion-toolbar (click)="goToPlayer()">
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="dataService.radioActual.logo">
      </ion-avatar>
      <ion-label>
        <h3>Reproduciendo</h3>
        <p>{{ dataService.radioActual.nombre }}</p>
      </ion-label>
      <ion-button shape="round" color="medium" (click)="stop()">
        <ion-icon slot="icon-only" name="stop-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" color="medium" (click)="stop()">
        <ion-icon slot="icon-only" name="pause-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>